{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-react",
    "minify"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties", "transform-flow-strip-types"]
}
